<figure class="player">
    <img src="/assets/images/cover.png" alt="player" />
    <figcaption>
        <h6>BREAKING THE SILENCE</h6>
        <p class="small">Linkin Park</p>
        <ul class="btn-play list-unstyled">
            <li><a href="#"><i class="fa fa-heart"></i></a></li>
            <li><a href="#"><i class="fa fa-play"></i></a></li>
            <li><a href="#"><i class="fa fa-forward"></i></a></li>
        </ul>
    </figcaption>
</figure>
<div class="time">
    <input type="text" data-role="slider" />
</div>
<p class="time-marks"><span class="pull-left">1.34</span><span class="pull-right">2.34</span></p>
<div class="btn-like">
    <a class="" href="#"></a>
    <a class="" href="#"></a>
</div>