<a class="pull-left" href="#" data-role="btn">
    <img src="/assets/images/icon-list.png" alt="icon" width="30" height="30" data-role="icon" />
</a>
<div class="media-body text-left">
    <h5 class="media-heading ">{{ title }}</h5>
    <p>{{ artist }}</p>
</div>