<li class="media">
    <a class="pull-left" href="#">
        <img src="/assets/images/icon-list.png" alt="icon">
    </a>
    <div class="media-body text-left">
        <h5 class="media-heading ">Breaking the habits</h5>
        <p>Linkin Park</p>
    </div>
</li>
<li class="media">
    <a class="pull-left" href="#">
        <img src="/assets/images/icon-list.png" alt="icon">
    </a>
    <div class="media-body text-left">
        <h5 class="media-heading ">Breaking the habits</h5>
        <p>Linkin Park</p>
    </div>
</li>
<li class="media">
    <a class="pull-left" href="#">
        <img src="/assets/images/icon-list.png" alt="icon">
    </a>
    <div class="media-body text-left">
        <h5 class="media-heading ">Breaking the habits</h5>
        <p>Linkin Park</p>
    </div>
</li>