<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3>Breacking the Silence</h3>
            <h4>Linkin Park</h4>
        </div>
    </div>
</div>