<div class="container">
    {{!-- <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <span class="timer">1.58</span>
            <div class="progress_bar">
                <div class="progress_bar_in">
                    <span class="progress_current"></span>
                </div>
            </div>
            <span class="timer">3.16</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 rating">
            <div>
                <span class="like"><i class="fa fa-thumbs-o-up"></i></span>
                <p class="rate">Rate this song</p>
                <span class="dislike"><i class="fa fa-thumbs-o-down"></i></span>
            </div>
        </div>
    </div> --}}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 margin">
            <p class="playing_next">Playing next:</p>
            <a class="new_list" data-role="generate-btn" data-loading-text="Generating...">Generate new list</a>
            <div class="col-md-12 padding" data-role="songs-container"></div>
        </div>
    </div>
</div>