<div class="col-md-12 padding_ten">
    <div class="row">
        <div class="col-md-2">
            <span><i class="fa fa-circle circlei"></i></span>
        </div>
        <div class="col-md-6 name_artist">
            <h4>SHI</h4>
            <h4>Linkin sad</h4>
        </div>
        <div class="col-md-4 fade_in">
            <a class="orange">Generate</a>
            <p>based on this song</p>
        </div>
    </div>
</div>