<div class="col-sm-6">
    <figure class="favorites first">
        <a href="#"><img src="/assets/images/btn-circle-1.png" alt="button"/></a>
        <figcaption>
            <h5>Storage base</h5>
            <p>Jump kitty</p>
        </figcaption>
    </figure>
</div>
<div class="col-sm-6">
    <figure class="favorites second">
        <a href="#"><img src="/assets/images/btn-circle-2.png" alt="button"/></a>
        <figcaption>
            <h5>Free slot</h5>
            <p ></p>
        </figcaption>
    </figure>
</div>
<div class="col-sm-6">
    <figure class="favorites">
        <a href="#"><img src="/assets/images/btn-circle-3.png" alt="button"/></a>
        <figcaption>
            <h5>Get more space</h5>
            <p> Jump kitty</p>
        </figcaption>
    </figure>
</div>