<form>
    <input type="text" name="search" class="search" placeholder="Song artist ot genre...">
</form>
<div class="music_list" data-role="items-container"></div>
<span class="search_click">
    <i class="fa fa-search" data-role="open-btn"></i>
    <i class="fa fa-arrow-right" data-role="close-btn"></i>
</span>