<header class="header">
    <nav id="nav" class="navbar navbar-default  navbar-fixed-top"  role="navigation">
      <div class="container">
          <a class="navbar-brand center-block" href="/#home">
            <img src="/assets/images/logo.png" alt="10tracks"/>
          </a>
      </div>
    </nav>
</header>
<div class="container" data-role="forms"></div>