<div class="col-sm-12  col-center-block">
    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control input-sm" type="text" placeholder="Search for song, artist or genre…">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-default btn-sm">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                                </span>
            </div>
        </div>
    </form>
    <div class="pie_progress" role="progressbar" data-role="progressbar">
        <div class="pie_progress__number">0%</div>
        <div class="pie_progress__label">Text Label</div>
    </div>
    <button id="button_start" class="btn btn-default">Start</button>
</div>