<form>
    <input type="text" name="search" class="search" placeholder="Song artist ot genre...">
</form>
<span class="search_click">
    <i class="fa fa-search" data-role="open-btn"></i>
    <i class="fa fa-arrow-right" data-role="search-btn"></i>
</span>